[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = false
name = "pytorch"

[packages]
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
pandas = "*"
ipykernel = "*"
seaborn = "*"
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
tqdm = "*"
lightning = "*"
albumentations = "*"
opencv-python = "*"
deepod = "*"
torchsummary = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.10"
